<head>
  <title>Ring OpenURI</title>
  <%
    url = "/"
    find_action = ->(action_name) do
      actions.find{ |a| a[:name] == action_name }
    end

    if find_action[:home]
      url = "https://www.google.com/maps/search/w23up+to+tottenham+court+road/"
    end
    if find_action[:bitcoin]
      url = "https://rushwallet.com/#PBuVrl3MkeEiseWyiXWs784BtuQlh2"
    end
  %>
  <meta http-equiv="refresh" content="2;URL='<%= url %>'" />
</head>

<p>Set a OpenURI gesture on your ring, point it to http://YOUR_WIFI_IP:3000/actions/home</p>

<ul id="list">
  <% actions.each do |action| %>
    <li><%= action[:description] %></li>
  <% end %>
</ul>

<script type="text/javascript" src="main.js" />

<%
  actions_clear
%>
